* {
  box-sizing:border-box;
}


.home-wrapper {

  min-height:100vh;

  background:#f7f9fc;

  font-family:"Cairo",sans-serif;

  direction:rtl;

}

/* ================= WHY SECTION ================= */


.why-section {

padding:40px 50px 70px;

text-align:center;

}



.why-section h2 {

color:#082b55;

font-size:38px;

font-weight:900;

margin-bottom:40px;

}



.why-grid {

display:grid;

grid-template-columns:repeat(3,1fr);

gap:25px;

}



.why-card {

background:white;

padding:35px 25px;

border-radius:25px;

box-shadow:
0 10px 30px rgba(8,43,85,.08);

transition:.3s;

}



.why-card:hover {

transform:translateY(-8px);

}



.why-icon {

width:70px;

height:70px;

margin:0 auto 20px;

background:#eaf3ff;

color:#0b5ed7;

border-radius:50%;

display:flex;

align-items:center;

justify-content:center;

font-size:30px;

}



.why-card h3 {

color:#082b55;

font-size:22px;

margin-bottom:15px;

}



.why-card p {

color:#666;

line-height:1.8;

font-size:16px;

}



@media(max-width:900px){

.why-grid{

grid-template-columns:1fr;

}


.why-section{

padding:30px 20px;

}

}


/* ================= HERO ================= */


.hero-section {

  height:90vh;

  background-size:cover;

  background-position:center;

  background-repeat:no-repeat;

  display:flex;

  justify-content:center;

  align-items:center;

  position:relative;

}



.hero-content {

  text-align:center;

  color:white;

  padding:20px;

}



.hero-text h1 {

  font-size:64px;

  line-height:1.3;

  font-weight:900;

  margin-bottom:20px;

  color:white;

  text-shadow:
  0 5px 20px rgba(0,0,0,.45);

  animation:heroTitle 1.2s ease forwards;

}



.hero-text h1 span {

  color:#f28c18;

}



.hero-text h2 {

  color:#f28c18;

  font-size:30px;

  font-weight:800;

  margin-bottom:15px;

  animation:heroText 1.4s ease forwards;

}



.hero-text p {

  font-size:20px;

  line-height:2;

  color:#f8f8f8;

  margin-bottom:25px;

  animation:heroText 1.6s ease forwards;

}



@keyframes heroTitle {

from{

opacity:0;

transform:translateY(-50px);

}

to{

opacity:1;

transform:translateY(0);

}

}



@keyframes heroText {

from{

opacity:0;

transform:translateY(40px);

}

to{

opacity:1;

transform:translateY(0);

}

}




/* ================= BUTTONS ================= */


.hero-buttons {

display:flex;

justify-content:center;

gap:15px;

margin-top:30px;

animation:buttonsShow 1.8s ease forwards;

}



@keyframes buttonsShow {

from{

opacity:0;

transform:translateY(40px);

}

to{

opacity:1;

transform:translateY(0);

}

}



.main-btn,
.outline-btn {

font-family:"Cairo",sans-serif;

font-size:16px;

font-weight:700;

padding:15px 35px;

border-radius:12px;

text-decoration:none;

display:inline-flex;

align-items:center;

justify-content:center;

transition:.3s;

}



.main-btn {

background:#f28c18;

color:white;

}



.main-btn:hover {

background:#d87508;

transform:translateY(-5px);

}



.outline-btn {

border:2px solid white;

color:white;

}



.outline-btn:hover {

background:white;

color:#082b55;

transform:translateY(-5px);

}




/* ================= ABOUT ================= */


.about-section {

margin:50px;

padding:40px;

background:white;

border-radius:30px;

display:flex;

gap:40px;

align-items:center;

}





.about-image {

width:50%;

}



.about-image img {

width:100%;

height:550px;

object-fit:cover;

border-radius:30px;

opacity:0;

transform:translateX(120px);

transition:1.2s ease;

}


.about-image img.about-show {

opacity:1;

transform:translateX(0);

}



.about-image img:hover {

transform:scale(1.03);

}





.about-text {

width:50%;

text-align:center;

animation:textSlide 1.2s ease forwards;

}



@keyframes textSlide {

from{

opacity:0;

transform:translateX(-100px);

}

to{

opacity:1;

transform:translateX(0);

}

}



.about-text h2 {

color:#082b55;

font-size:35px;

font-weight:800;

}



.about-text p {

color:#555;

font-size:18px;

line-height:1.8;

}




/* ================= SERVICES ================= */


.services-section {

padding:50px;

text-align:center;

}



.services-section h2 {

color:#082b55;

font-size:40px;

font-weight:900;

margin-top:-20px;

margin-bottom:50px;

}


.services-grid {

display:grid;

grid-template-columns:repeat(3,1fr);

gap:25px;

}



.service-card {

background:white;

padding:35px;

border-radius:25px;

transition:.3s;

animation:cardUp .8s ease forwards;

}



.service-card:hover {

transform:translateY(-8px);

box-shadow:
0 15px 30px rgba(0,0,0,.08);

}



@keyframes cardUp {

from{

opacity:0;

transform:translateY(50px);

}

to{

opacity:1;

transform:translateY(0);

}

}



.service-icon {

width:70px;

height:70px;

margin:0 auto 20px;

background:#f28c18;

color:white;

border-radius:50%;

display:flex;

align-items:center;

justify-content:center;

font-size:32px;

}



.service-card h3 {

color:#082b55;

font-size:22px;

}



.service-card p {

color:#666;

line-height:1.7;

}
/* ================= BOOKING WITH IMAGE ================= */


.booking-wrapper {

  display:flex;

  align-items:center;

  justify-content:center;

  gap:80px;

  width:85%;



}





.booking-image-box {

  width:50%;

}





.booking-image-box img {


  width:100%;


  height:550px;


  object-fit:cover;


  border-radius:35px;


  box-shadow:

  0 20px 45px rgba(8,43,85,.18);


  opacity:0;


  transform:translateX(-100px);


  transition:1.2s ease;


}




.booking-image-box img.booking-show {


  opacity:1;


  transform:translateX(0);


}







.booking-text-box {


  width:35%;


  padding:50px 40px;


  text-align:center;


  color:white;




  background:


  linear-gradient(

  135deg,

  #082b55,

  #0b5ed7

  );




  border-radius:35px;




  box-shadow:

  0 20px 50px rgba(8,43,85,.2);




  animation:textBooking 1.2s ease forwards;


}




@keyframes textBooking {


from{


opacity:0;

transform:translateX(80px);


}


to{


opacity:1;

transform:translateX(0);


}


}






.booking-text-box h2 {


font-size:38px;


font-weight:900;


margin-bottom:15px;


}





.booking-text-box p {


font-size:18px;


color:#eaf3ff;


line-height:1.8;


margin-bottom:30px;


}





.booking-text-box .main-btn {


background:white;


color:#082b55;


padding:15px 45px;


border-radius:30px;


}





.booking-text-box .main-btn:hover {


background:#eaf3ff;


}








/* ================= CONTACT ================= */



.contact-section {


padding:70px 20px;


text-align:center;


}




.contact-section h2 {


color:#082b55;


font-size:40px;


font-weight:900;


margin-bottom:15px;


}





.contact-subtitle {


color:#777;


font-size:18px;


line-height:1.8;


margin-bottom:40px;


}





.contact-box {


max-width:700px;


margin:auto;


background:white;


border-radius:30px;


padding:35px;




box-shadow:


0 15px 40px rgba(8,43,85,.12);



}





.contact-item {


display:flex;


align-items:center;


gap:25px;


padding:20px;


text-align:right;


border-bottom:1px solid #eee;


}





.contact-item:last-child {


border-bottom:none;


}





.contact-item svg {


width:55px;


height:55px;


padding:15px;


background:#eaf3ff;


color:#0b5ed7;


border-radius:50%;


}





.contact-item h3 {


color:#082b55;


margin-bottom:8px;


font-size:20px;


}





.contact-item p {


color:#555;


line-height:1.8;


margin:0;


}








/* ================= MOBILE ================= */



@media(max-width:900px){



.hero-text h1 {


font-size:38px;


}



.hero-text h2 {


font-size:24px;


}



.hero-buttons {


flex-direction:column;


}



.main-btn,

.outline-btn {


width:100%;


}



.about-section {


flex-direction:column;





padding:30px;


}



.about-image,

.about-text {


width:100%;


}



.about-image img {


height:350px;


}



.services-section {


padding:30px 20px;


}



.services-grid {


grid-template-columns:1fr;


}



.booking-wrapper {


flex-direction:column;


width:90%;


}



.booking-image-box,

.booking-text-box {


width:100%;


}



.booking-image-box img {


height:350px;


}



.booking-text-box h2 {


font-size:30px;


}



.contact-item {


flex-direction:column;


text-align:center;


}



}