*{
box-sizing:border-box;
}


.admin-layout{

display:flex;

min-height:100vh;

background:#f7f9fc;

font-family:"Cairo",sans-serif;

direction:rtl;

}



/* Sidebar */


.admin-sidebar{

width:270px;

background:#082b55;

color:white;

padding:25px;

display:flex;

flex-direction:column;

}



.admin-logo{

text-align:center;

}


.admin-logo img{

width:90px;

height:90px;

border-radius:50%;

background:white;

padding:8px;

}



.admin-logo h2{

font-size:22px;

}



.admin-sidebar nav{

margin-top:40px;

display:flex;

flex-direction:column;

gap:15px;

}



.admin-sidebar a{

color:white;

text-decoration:none;

padding:15px;

border-radius:12px;

display:flex;

align-items:center;

gap:12px;

}



.admin-sidebar a.active{

background:#0b5ed7;

}



.logout{

margin-top:auto;

padding:15px;

border:none;

border-radius:12px;

background:#f28c18;

color:white;

cursor:pointer;

}




/* Content */


.admin-content{

flex:1;

padding:30px;

}



.admin-header{

background:white;

padding:20px;

border-radius:20px;

margin-bottom:30px;

}



.dashboard{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:20px;

}



.stat-card{

background:white;

padding:30px;

border-radius:20px;

text-align:center;

box-shadow:0 10px 30px #ddd;

}



.stat-card svg{

font-size:35px;

color:#0b5ed7;

}



.stat-card p{

font-size:35px;

font-weight:bold;

color:#082b55;

}




.page-box{

background:white;

padding:30px;

border-radius:20px;

}




table{

width:100%;

border-collapse:collapse;

}


th,td{

padding:15px;

border-bottom:1px solid #eee;

text-align:center;

}



.status{

background:#eaf3ff;

color:#0b5ed7;

padding:7px 15px;

border-radius:20px;

}



.schedule-form{

display:flex;

gap:15px;

}



.schedule-form input{

padding:12px;

border-radius:10px;

border:1px solid #ddd;

}



.schedule-form button{

background:#0b5ed7;

color:white;

border:none;

padding:12px 30px;

border-radius:10px;

}



.patients div{

background:#f7f9fc;

padding:15px;

margin:10px;

border-radius:10px;

}



@media(max-width:900px){


.admin-layout{

flex-direction:column;

}


.admin-sidebar{

width:100%;

}


.dashboard{

grid-template-columns:1fr;

}
.available-btn{

background:#16a34a;

color:white;

border:none;

padding:8px 15px;

border-radius:8px;

cursor:pointer;

margin-left:10px;

}


.available-btn:hover{

background:#15803d;

}


.delete-btn{

background:#dc2626;

color:white;

border:none;

padding:8px 15px;

border-radius:8px;

cursor:pointer;

}


.delete-btn:hover{

background:#b91c1c;

}

}